/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24/08/2017, 21:53:22
    Author     : Salvio Furbino
*/

<<<<<<< HEAD
=======

>>>>>>> 307ea7aebe907bf416020bcd40fdb12cdbbb1de3
.colunaLabel{
    width: 120px;
    text-align: left;

}
<<<<<<< HEAD
=======

>>>>>>> 307ea7aebe907bf416020bcd40fdb12cdbbb1de3
.colunaResponsiva{
    width: auto;

}
<<<<<<< HEAD
.listaComOcoesOcultaFitro{
    height: 5px!important;
    display: none!important;
}

.inputCampo{
    width:   100%!important;
    border : none!important;
    position: relative;

}
.panelGridEsquerda{
    border: none;
}
.panelGridSuperior{
    border: none;
}
.colunaLabel{
    width: 120px;
}

.campoMascara{
}

.campoGrande{}
.campoMultiplasLinhas{}
.camoMinimoEMaximo{}
.campoSenha{}
.campoCEP{}
.campoCor{}
.campoHTML{}
.campoQuantidade{
    width: 10% !important;
}
.campoMoeda{
    width: 10%  !important;
}
.campoEmail{}
.campoData{
    width: 15%  !important;
}
.campoDataHora{}
.campoLigadoDesligado{}
.campoEntidadeSimples{}


/* CSS OLD APENAS PARA COMPATIBILIDADE MOMENTANEA, SERÃ EXCLUIDO  */
.colunaLabel{
    width: 120px;
}
.colunaResponsiva{
    width: auto;

}
.colunaCampoFixo{

}
.campoResponsivo{
    width:   98%!important;

=======

.listaComOcoesOcultaFitro{
    height: 5px!important;
    display: none!important;
>>>>>>> 307ea7aebe907bf416020bcd40fdb12cdbbb1de3
}